@{
    ViewData["Title"] = "Get logs";
}

<div class="inline">
    <div id="page-content-wrapper" class="machinename">
        <table>
            <thead>
                <p class="machinename">Machines</p>
            </thead>
            <tbody>
                @foreach (var device in ViewBag.DeviceList)
                {
                    <tr>
                        <td scope="row">@device.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="page-content-log">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <main role="main" class="pb-3">
                        <p class="loghead">Logs</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">DeviceId</th>
                                    <th scope="col">Log_level</th>
                                    <th scope="col">Message</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var log in ViewBag.LogsList.Results)
                                {
                                    <tr>
                                        <td scope="row">@log.Id</td>
                                        <td>@log.DeviceId</td>
                                        <td>@log.LogLevel</td>
                                        <td>@log.Message</td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </main>
                </div>
            </div>
        </div>
        <div class="dataTables_paginate paging_full_numbers logpadding" id="log_filter_paginate">
            @if (ViewBag.LogsList.RowCount % 10 == 0)
            {
                @for (int i = 1; i <= ViewBag.LogsList.RowCount / 10; i++)
                {
                    <a value="@i" class="btn btn-light" onclick="logPagination(@i)">@i</a>
                    <p class="page">@ViewBag.Page page</p>
                }
            }
            @if (ViewBag.LogsList.RowCount % 10 != 0)
            {
                @for (int i = 1; i <= ViewBag.LogsList.RowCount / 10 + 1; i++)
                {
                    <a value="@i" class="btn btn-light" onclick="logPagination(@i)">@i</a>
                    <p class="page">@ViewBag.Page page</p>
                }
            }

        </div>
    </div>
</div>

<script>
    function logPagination(page) {
        window.location.href = "/Log/GetLogs?page=" + page;
    }
</script>







